{% load static %}

<aside class="sidebar" id="sidebar">

    <div class="sidebar-logo">
        <img src="{% static 'imagenes/Logo 1.jpeg' %}" alt="FIA-MEDS">
    </div>

    <button class="toggle-btn" onclick="toggleSidebar()">☰</button>
    
    <nav>
        <ul>
            <li>               
                <a href="#" class="nav-link">
                    <span class="icon">🏠</span>{#- CAMBIAR LUEGO POR ICONOS DE FONTAWESOME#}
                    <span class="text">Inicio</span>
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="{% url 'usuarios:inventario-dashboard' %}" class="nav-link">                  
                    <div class="module-icon">
                        <i class="fas fa-user-injured"></i>
                    </div>
                    <span class="text">Insumos</span>
                </a>
            </li>
        </ul>
                <ul>
            <li>
                <a href="{% url 'usuarios:inventario-dashboard' %}" class="nav-link">                  
                <div class="module-icon">
                    <i class="fas fa-vials"></i>
                </div>
                    <span class="text">Stock</span>
                </a>
            </li>
        </ul>
                <ul>
            <li>
                <a href="{% url 'usuarios:inventario-dashboard' %}" class="nav-link">                  
                    <div class="module-icon">
                        <i class="fas fa-boxes"></i>
                    </div>
                    <span class="text">Movimientos</span>
                </a>
            </li>
        </ul>
    </nav>

    {% include 'includes/_logout_button.html' %}
</aside>