<aside class="sidebar" id="sidebar">
    <button class="toggle-btn" onclick="toggleSidebar()">☰</button>
    
    <nav>
        <ul>
            <li>               
                <a href="#" class="nav-link">
                    <span class="icon">🏠</span>{#- CAMBIAR LUEGO POR ICONOS DE FONTAWESOME#}
                    <span class="text">Inicio</span>
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#" class="nav-link">                  
                    <span class="icon">📦</span>{#- CAMBIAR LUEGO POR ICONOS DE FONTAWESOME#}
                    <span class="text">pacientes</span>
                </a>
            </li>
        </ul>
    </nav>

{% include 'includes/_logout_button.html' %}

</aside>