{% load static %}

<aside class="sidebar" id="sidebar">

    <div class="sidebar-logo">
        <img src="{% static 'imagenes/Logo 1.jpeg' %}" alt="FIA-MEDS">
    </div>

    <button class="toggle-btn" onclick="toggleSidebar()">☰</button>

    <nav class="sidebar-nav">
        <ul>
            <li>
                <a href="{% url 'usuarios:recepcion-dashboard' %}" class="nav-link">
                    <i class="fa-solid fa-house"></i>
                    <span class="text">Inicio</span>
                </a>
            </li>
            <li>
                <a href="{% url 'pacientes:crea_expediente' %}" class="nav-link">
                    <i class="fa-solid fa-user-plus"></i>
                    <span class="text">Pacientes</span>
                </a>
            </li>
            <li>
                <a href="{% url 'nueva-orden' %}" class="nav-link">
                    <i class="fa-solid fa-vials"></i>
                    <span class="text">Ordenes</span>
                </a>
            </li>
            <li>
                <a href="{% url 'solicitudes-recepcionista' %}" class="nav-link">
                    <i class="fa-solid fa-clipboard-list"></i>
                    <span class="text">Solicitudes</span>
                </a>
            </li>
        </ul>
    </nav>

    {% include 'includes/_logout_button.html' %}

</aside>